---
all:
  hosts:
    <target IP address>:
      ansible_ssh_user: <username>
  vars:
    timezone: timezone, ex. Europe/Amsterdam
    data_path: path to persistent storage, ex. /home/media
    tailscale_auth_key: tailscale auth key
    tailscale_advertise_routes: local network to advertise on tailscale, ex. 192.168.1.0/24
    tvshows_path: path to tvshows storage, ex. /media/tvshows
    movies_path: path to movies storage, ex. /media/movies
    domain: internet domain
    cloudflare_tunnel_name: cloudflared tunnel name
    cloudflare_tunnel_dns_list: # list here the services deployed on k3s that you want to expose to the internet
      - name: dns name of the service
        port: port of the service
    cloudflare_tunnel_additional_dns_list: # list here additional services from your local network to expose to the internet
      - name: dns name of the service
        service: dns or ip address
    install_path: path to install manifests and files
    adguard_home_username: adguard home username
    adguard_home_password: adguard home password
    adguard_home_user_rules:
      - dns resolution similar to /etc/hosts in the form of <dns ip_address>
    cloudflared_pem: |-
      paste here your cloudflared pem file content
    zigbee_adapter_path: specify the connection to zigbee adapter