---
all:
  hosts:
    <target IP address>:
      ansible_ssh_user: <username>
  vars:
    email: email for letsencrypt
    timezone: timezone, ex. Europe/Amsterdam
    data_path: path to persistent storage, ex. /home/media
    tailscale_auth_key: tailscale auth key
    tailscale_advertise_routes: local network to advertise on tailscale, ex. 192.168.1.0/24
    tvshows_path: path to tvshows storage, ex. /media/tvshows
    movies_path: path to movies storage, ex. /media/movies
    cloudflare_tunnel_name: cloudflared tunnel name
    cloudflare_tunnel_dns_list: # list here the services deployed on k3s that you want to expose to the internet
      - name: dns name of the service
        port: port of the service
        domain: internet domain
    install_path: path to install manifests and files
    adguard_home_username: adguard home username
    adguard_home_password: adguard home password
    adguard_home_user_rules:
      - dns resolution similar to /etc/hosts in the form of <dns ip_address>
    cloudflare_api_token: api token
    cloudflared_pem: |-
      paste here your cloudflared pem file content
    zigbee_adapter_path: specify the connection to zigbee adapter
    install_cloudflared: true
    install_adguard_home: true
    enable_services:
      - duplicati
      - homeassistant
      - homer
      - mqtt
      - tailscale
      - unifi-controller
      - uptimekuma
      - zigbee2mqtt
      - bazarr
      - deluge
      - fileflows
      - flaresolverr
      - prowlarr
      - radarr
      - sabnzbd
      - sonarr
      - jellyfin
      - jellyseerr
