---
authentik:
  secret_key: {{ authentik_secret_key }}
  # This sends anonymous usage-data, stack traces on errors and
  # performance data to sentry.io, and is fully opt-in
  error_reporting:
    enabled: false
  postgresql:
    password: {{ authentik_pg_password }}

server:
  ingress:
    # Specify kubernetes ingress controller class name
    ingressClassName: traefik
    enabled: true
    hosts:
      - authentik.{{ domain }}
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/router.tls: "true"
      cert-manager.io/cluster-issuer: letsencrypt
    tls:
      - secretName: authentik-service-cert
        hosts:
          - authentik.{{ domain }}

postgresql:
  enabled: true
  auth:
    password: {{ authentik_pg_password }}
redis:
  enabled: true
