---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: deluge
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app: deluge
  template:
    metadata:
      labels:
        app: deluge
      annotations:
        diun.enable: "true"
        diun.watch_repo: "true"
    spec:
      containers:
        - name: deluge
          image: lscr.io/linuxserver/deluge:2.1.1
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
          ports:
            - containerPort: 8112
              name: webui
            - containerPort: 58946
              name: inbound
            - containerPort: 58946
              protocol: UDP
              name: inbound-udp
          volumeMounts:
            - name: config
              mountPath: /config
            - name: data
              mountPath: /data/torrents
            - name: localtime
              mountPath: /etc/localtime
              readOnly: true
      volumes:
        - name: config
          hostPath:
            path: {{ data_path }}/deluge
        - name: data
          hostPath:
            path: {{ media_path }}/torrents
        - name: localtime
          hostPath:
            path: /etc/localtime

---
apiVersion: v1
kind: Service
metadata:
  name: deluge
  namespace: media
spec:
  selector:
    app: deluge
  ports:
    - protocol: TCP
      port: 8112
      targetPort: webui
      name: webui
    - protocol: TCP
      port: 58946
      targetPort: inbound
      name: inbound
    - protocol: UDP
      port: 58946
      targetPort: inbound-udp
      name: inbound-udp

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: deluge
  namespace: media
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
    cert-manager.io/cluster-issuer: letsencrypt
spec:
  ingressClassName: traefik
  rules:
    - host: deluge.{{ domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: deluge
                port:
                  number: 8112
  tls:
    - secretName: deluge-service-cert
      hosts:
        - deluge.{{ domain }}