---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: duplicati
  namespace: infra
spec:
  replicas: 1
  selector:
    matchLabels:
      app: duplicati
  template:
    metadata:
      labels:
        app: duplicati
    spec:
      containers:
        - name: duplicati
          image: lscr.io/linuxserver/duplicati:2.0.7
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
          volumeMounts:
            - name: duplicati-data
              mountPath: /config
            - name: duplicati-backups
              mountPath: /backups
            - name: source
              mountPath: /source
            - name: source-adguardhome
              mountPath: /source_adguardhome
            - name: localtime
              mountPath: /etc/localtime
              readOnly: true
          ports:
            - containerPort: 8200
              name: webui
      volumes:
        - name: duplicati-data
          hostPath:
            path: {{ data_path }}/duplicati
        - name: duplicati-backups
          hostPath:
            path: {{ data_path }}/duplicati/backups
        - name: source
          hostPath:
            path: {{ data_path }}
        - name: source-adguardhome
          hostPath:
            path: /opt/AdGuardHome
        - name: localtime
          hostPath:
            path: /etc/localtime

---
apiVersion: v1
kind: Service
metadata:
  name: duplicati
  namespace: infra
spec:
  selector:
    app: duplicati
  ports:
    - protocol: TCP
      port: 8200
      targetPort: webui
  type: LoadBalancer

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: duplicati
  namespace: infra
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
    cert-manager.io/cluster-issuer: letsencrypt
spec:
  ingressClassName: traefik
  rules:
    - host: duplicati.{{ domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: duplicati
                port:
                  number: 8200
  tls:
    - secretName: duplicati-service-cert
      hosts:
        - duplicati.{{ domain }}