---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: homeassistant
  namespace: infra
spec:
  replicas: 1
  selector:
    matchLabels:
      app: homeassistant
  template:
    metadata:
      labels:
        app: homeassistant
      annotations:
        diun.enable: "true"
        diun.watch_repo: "true"
        diun.exclude_tags: "dev;sha"
    spec:
      containers:
        - name: homeassistant
          image: ghcr.io/home-assistant/home-assistant:2023.11
          volumeMounts:
            - name: homeassistant-config
              mountPath: /config
            - name: localtime
              mountPath: /etc/localtime
              readOnly: true
          env:
            - name: TZ
              value: {{ timezone }}
          ports:
            - containerPort: 8123
              name: webui
            - containerPort: 1400
              name: sonos
      volumes:
        - name: homeassistant-config
          hostPath:
            path: {{ data_path }}/homeassistant
        - name: localtime
          hostPath:
            path: /etc/localtime

---
apiVersion: v1
kind: Service
metadata:
  name: homeassistant
  namespace: infra
spec:
  selector:
    app: homeassistant
  ports:
    - protocol: TCP
      port: 8123
      targetPort: webui
      name: webui
    - protocol: TCP
      port: 1400
      targetPort: sonos
      name: sonos
  type: LoadBalancer

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: homeassistant
  namespace: infra
  annotations:
spec:
  ingressClassName: traefik
  rules:
    - host: homeassistant.{{ domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: homeassistant
                port:
                  number: 8123