---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prowlarr
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prowlarr
  template:
    metadata:
      labels:
        app: prowlarr
      annotations:
        diun.enable: "true"
        diun.watch_repo: "true"
        diun.exclude_tags: "nightly;amd;arm;version;develop;latest;ls"
    spec:
      containers:
        - name: prowlarr
          image: lscr.io/linuxserver/prowlarr:1.14.3
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
          volumeMounts:
            - name: config-volume
              mountPath: /config
            - name: localtime-volume
              mountPath: /etc/localtime
              readOnly: true
          ports:
            - containerPort: 9696
              name: webui
      volumes:
        - name: config-volume
          hostPath:
            path: {{ data_path }}/prowlarr
        - name: localtime-volume
          hostPath:
            path: /etc/localtime
---
apiVersion: v1
kind: Service
metadata:
  name: prowlarr
  namespace: media
spec:
  selector:
    app: prowlarr
  ports:
    - protocol: TCP
      port: 9696
      targetPort: webui

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: prowlarr
  namespace: media
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
    cert-manager.io/cluster-issuer: letsencrypt
spec:
  ingressClassName: traefik
  rules:
    - host: prowlarr.{{ domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: prowlarr
                port:
                  number: 9696
  tls:
    - secretName: prowlarr-service-cert
      hosts:
        - prowlarr.{{ domain }}