---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: unifi-controller
  namespace: infra
spec:
  replicas: 1
  selector:
    matchLabels:
      app: unifi-controller
  template:
    metadata:
      labels:
        app: unifi-controller
      annotations:
        diun.enable: "true"
        diun.watch_repo: "true"
        diun.exclude_tags: "arm;amd;version;ls;mongoless;latest"
    spec:
      containers:
        - name: unifi-controller
          image: lscr.io/linuxserver/unifi-controller:8.0.24
          ports:
            - containerPort: 8080
              name: device-comm
            - containerPort: 8443
              name: webui
            - containerPort: 3478
              name: stun
              protocol: UDP
            - containerPort: 10001
              name: discovery
              protocol: UDP
          volumeMounts:
            - name: config-volume
              mountPath: /config
          env:
            - name: TZ
              value: {{ timezone }}
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
      volumes:
        - name: config-volume
          hostPath:
            path: {{ data_path }}/unifi-controller

---
apiVersion: v1
kind: Service
metadata:
  name: unifi-controller
  namespace: infra
spec:
  selector:
    app: unifi-controller
  ports:
    - protocol: TCP
      port: 8080
      targetPort: device-comm
      name: device-comm
    - protocol: TCP
      port: 8443
      targetPort: webui
      name: webui
    - protocol: UDP
      port: 3478
      targetPort: 3478
      name: stun
    - protocol: UDP
      port: 10001
      targetPort: 10001
      name: discovery
  type: LoadBalancer

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: unifi-controller
  namespace: infra
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
    cert-manager.io/cluster-issuer: letsencrypt
spec:
  ingressClassName: traefik
  rules:
    - host: unifi.{{ domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: unifi-controller
                port:
                  number: 8443