---
apiVersion: v1
kind: ConfigMap
metadata:
  name: unifi-db
data:
  init-mongo.js: |
    db.getSiblingDB("unifi-db").createUser({user: "unifi", pwd: "unifi", roles: [{role: "dbOwner", db: "unifi-db"}]});
    db.getSiblingDB("unifi-db_stat").createUser({user: "unifi", pwd: "unifi", roles: [{role: "dbOwner", db: "unifi-db_stat"}]});

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: unifi-network-application
  namespace: infra
spec:
  replicas: 1
  selector:
    matchLabels:
      app: unifi-network-application
  template:
    metadata:
      labels:
        app: unifi-network-application
      annotations:
        diun.enable: "true"
        diun.watch_repo: "true"
        diun.exclude_tags: "latest;ls;version;arm;amd"
    spec:
      containers:
        - name: unifi-network-application
          image: lscr.io/linuxserver/unifi-network-application:8.1.113
          ports:
            - containerPort: 8080
              name: device-comm
            - containerPort: 8443
              name: webui
            - containerPort: 3478
              name: stun
              protocol: UDP
            - containerPort: 10001
              name: discovery
              protocol: UDP
          volumeMounts:
            - name: config-volume
              mountPath: /config
          env:
            - name: TZ
              value: {{ timezone }}
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: MONGO_USER
              value: unifi
            - name: MONGO_PASS
              value: unifi
            - name: MONGO_HOST
              value: unifi-db
            - name: MONGO_PORT
              value: 27017
            - name: MONGO_DBNAME
              value: unifi
        - name: unifi-db
          image: docker.io/mongo:7.0.7
          ports:
            - containerPort: 27017
              name: db_port
          env:
            - name: TZ
              value: {{ timezone }}
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
          volumeMounts:
            - name: data-volume
              mountPath: /data/db
            - name: init-volume
              configMap:
                name: unifi-db
                items:
                  - key: init-mongo.js
                    path: /docker-entrypoint-initdb.d/init-mongo.js
      volumes:
        - name: config-volume
          hostPath:
            path: {{ data_path }}/unifi/unifi-network-application
        - name: data-volume
          hostPath:
            path: {{ data_path }}/unifi/db

---
apiVersion: v1
kind: Service
metadata:
  name: unifi-network-application
  namespace: infra
spec:
  selector:
    app: unifi-network-application
  ports:
    - protocol: TCP
      port: 8080
      targetPort: device-comm
      name: device-comm
    - protocol: TCP
      port: 8443
      targetPort: webui
      name: webui
    - protocol: UDP
      port: 3478
      targetPort: 3478
      name: stun
    - protocol: UDP
      port: 10001
      targetPort: 10001
      name: discovery
  type: LoadBalancer

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: unifi-network-application
  namespace: infra
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
    cert-manager.io/cluster-issuer: letsencrypt
spec:
  ingressClassName: traefik
  rules:
    - host: unifi.{{ domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: unifi-network-application
                port:
                  number: 8443