---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: tailscale-sa
  namespace: infra

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: tailscale-role
  namespace: infra
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["create"]
  - apiGroups: [""]
    resources: ["secrets"]
    resourceNames: ["tailscale"]
    verbs: ["*"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: tailscale-role-binding
  namespace: infra
subjects:
- kind: ServiceAccount
  name: tailscale-sa
roleRef:
  kind: Role
  name: tailscale-role
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tailscale
  namespace: infra
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tailscale
  template:
    metadata:
      labels:
        app: tailscale
    spec:
      serviceAccountName: tailscale-sa
      containers:
        - name: tailscale
          image: tailscale/tailscale:v1.48.2
          volumeMounts:
            - name: var-lib
              mountPath: /var/lib
            - name: dev-net-tun
              mountPath: /dev/net/tun
          env:
            - name: TS_AUTHKEY
              value: {{ tailscale_auth_key }}
            - name: TS_ROUTES
              value: {{ tailscale_advertise_routes }}
            - name: TS_HOSTNAME
              value: server
          securityContext:
            capabilities:
              add:
                - NET_ADMIN
                - NET_RAW
      volumes:
        - name: var-lib
          hostPath:
            path: {{ data_path }}/tailscale
        - name: dev-net-tun
          hostPath:
            path: /dev/net/tun
