name: teslamate-database
services:
  main_app:
    cpu_shares: 10
    command: []
    container_name: teslamate-database
    deploy:
      resources:
        limits:
          memory: 256M
    environment:
      - "POSTGRES_DB={{ teslamate_database_name }}"
      - "POSTGRES_PASSWORD={{ teslamate_database_password }}"
      - "POSTGRES_USER={{ teslamate_database_user }}"
    image: postgres:15
    labels:
      icon: https://icon.casaos.io/main/all/postgres.png
    restart: unless-stopped
    volumes:
      - type: bind
        source: "{{ data_path }}/teslamate/postgres"
        target: /var/lib/postgresql/data
    user: "1000"
    ports: []
    devices: []
    cap_add: []
    networks:
      - app
    privileged: false
    hostname: teslamate-database
networks:
  app:
    name: app
x-casaos:
  author: self
  category: self
  hostname: ""
  icon: https://icon.casaos.io/main/all/postgres.png
  index: ""
  is_uncontrolled: false
  port_map: ""
  scheme: http
  store_app_id: teslamate-database
  title:
    custom: teslamate-database
