name: teslamate-grafana
services:
  main_app:
    cpu_shares: 10
    command: []
    container_name: teslamate-grafana
    deploy:
      resources:
        limits:
          memory: 256M
    environment:
      - DATABASE_HOST=teslamate-database
      - "DATABASE_NAME={{ teslamate_database_name }}"
      - "DATABASE_PASS={{ teslamate_database_password }}""
      - "DATABASE_USER={{ teslamate_database_user }}"
    image: teslamate/grafana:1.28.5
    labels:
      icon: https://icon.casaos.io/main/all/grafana.png
    ports:
      - target: 3000
        published: "3000"
        protocol: tcp
    restart: unless-stopped
    volumes:
      - type: bind
        source: "{{ data_path }}/teslamate/grafana"
        target: /var/lib/grafana
    user: "1000"
    devices: []
    cap_add: []
    networks:
      - app
    privileged: false
    hostname: teslamate-grafana
networks:
  app:
    name: app
x-casaos:
  author: self
  category: self
  hostname: ""
  icon: https://icon.casaos.io/main/all/grafana.png
  index: /
  is_uncontrolled: false
  port_map: "3000"
  scheme: http
  store_app_id: teslamate-grafana
  title:
    custom: Teslamate-grafana
