---
tunnel: "{{ tf_cf_tunnel_id }}"
credentials-file: /etc/cloudflared/creds.json
logfile: /var/log/cloudflared.log
loglevel: info
ingress:
  - hostname: jellyseerr.capzulu.xyz
    service: http://{{ tf_mediabox_ip_address }}:5055
  - hostname: jellyfin.capzulu.xyz
    service: http://{{ tf_mediabox_ip_address }}:8096
  - hostname: homeassistant.capzulu.xyz
    service: http://{{ tf_mediabox_ip_address }}:8123
  - service: http_status:404